auto-save-list
.emacs.desktop
.emacs.desktop.lock
elpa
session*
swank
url/
backups/
private/
tramp
temp
/#!home!tusk!secure!projects.org#
/#_ascpc_bhippo.lon_b_ausr_alocal_agoogle_ahome_atusk_asrc_aasfe_agoogle3_aads_aproduction_afrontend_ajob__config_ajob__config__test.py#
*~
/local.d/*
!/local.d/README.md

